body {
  font-family: "Times New Roman";
  color: white;
  background-color: #FFEEFF;
}

h1 {
  font-size: 53px;
  margin: 0px;
  padding: 0px;
  color: teal;
}

h2 {
  margin: 10px;
  padding: 0px;
  color: #888888;
}

.token p {
  color: white;
}

div.passwordresset {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}

div.passwordresset div {
  position: relative;
  margin: 50px 0;
}

.passwordresset input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  color: white;
}

input[type="password"] {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  background: white;
  border-color: #CCCCCC;
  color: black;
}

input[type="submit"] {
  background: teal;
  border-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-size: 20px;
}

input[type="submit"]:hover {
  background: #FF69B4;
}

